@media only screen and (max-width: 600px) {




    .sizeLien12 {
      margin-left: 35%;
    }

    .cubeDetailsHebergements {
      min-height: 150px;
    }

    .sizeHebergements {
      min-height: auto;
      padding: 20px;
    }

    .sizePopulaires {
      min-height: auto;
      padding: 20px;
    }

    .tabletteSizeTitrePop {
      margin-top: 0;
    }


    .mobileFiltreWrap {
      align-items: flex-start;
      flex-direction: column;
    }

    .filtreTexteIcons {
      margin-bottom: 20px;
    }

    #hebergements {
      flex-direction: column-reverse;
      width: 100%;
    }

    .blocPopulaires {
      flex: none;
      width: 90%;
      margin-left: 0;
      padding: 5%;
    }

    .blocHebergements {
      flex: none;
      width: 90%;
      margin-right: 0;
      padding: 5%;
    }

}