@media only screen and (max-width: 600px) {

    .sizeLien12 {
      margin-left: 35%;
    }

    .bloc1 {
      display: flex;
      flex-direction: column;
    }

    .cubeHebergements {
      width: 100%;
    }


    .cubeActivites {
      width: 100%;
    }

    .blocActivites2356 {
      width: 100%;
    }

    .bloc2 {
      display: flex;
      flex-direction: column;
    }

    .blocActivites {
      display: flex;
      flex-direction: column;
    }


    .sizeHebergements {
      min-height: auto;
      padding: 20px;
    }

    .sizePopulaires {
      min-height: auto;
      padding: 20px;
    }

    .tabletteSizeTitrePop {
      margin-top: 0;
    }


    .mobileFiltreWrap {
      align-items: flex-start;
      flex-direction: column;
    }

    .filtreTexteIcons {
      margin-bottom: 20px;
    }

    #hebergements {
      flex-direction: column;
    
      width: 100%;
    }

    .blocPopulaires {
      order: 1;
      flex: none;
      width: 90%;
      margin-left: 0;
      padding: 5%;
    }

    .blocHebergements {
      order: 2;
      width: 90%;
      margin-right: 0;
      padding: 5%;
    }


    .footer {
      display: flex;
      margin-top: 490%;
      background: #f2f2f2;
      color: rgb(5, 5, 5);
      padding: 10%;
     
    }


  }